<h1><%= t('animals')%></h1>

<div id="animals">
  <table class="table">
    <% @animals.each do |animal| %>
      <tr>
        <td><%= render animal %></td>
        <td><%= link_to t('animal.show'), animal, class: 'btn btn-info' %></td>
        <td><%= link_to t('edit'), edit_animal_path(animal), class: 'btn btn-warning' %></td>
        <td><%= button_to t('destroy'), animal, form: { data: { turbo_confirm: t('sure') } }, :method => :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to t('animal.new'), new_animal_path, class: 'btn btn-primary' %>
