<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= t('photos')%>
  <%= form.fields_for :pictures do |picture_model| %>
    <%= picture_model.file_field :pic %>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.collection_radio_buttons :animal_id, @animals, :id, :name, boolean_style: :inline do |check| %>
      <%= image_tag check.object.image, size: 200 %>
      <%= check.radio_button %>
      <%= check.object.name %>
    <% end %>
  </div>

  <div class="pt-2">
    <%= form.submit t('create'), class: 'btn btn-primary' %>
  </div>
<% end %>
